#aboutpage{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    color: white;
    position: absolute;
    background-color: #67635F;
    overflow: hidden;
}
#aboutpage img{
    margin-top: 100px;
    height: 50%;
    border: 2px solid black;
    border-radius: 50%;
}
#aboutpage p{
    height: 100%;
    line-height: 1.5em;
    font-size: 3.5vh;
    color: darkgray;
    width: 25%;
    float: left;
    background-color: #004E64;
    padding: 20px;
    text-align: left;
    box-shadow: 5px 5px 50px -10px black;
}
#aboutpage p strong{
    font-size: 4vh;
    color: white;
}
#links{
    overflow-y: scroll;
    overflow-x: hidden;
    float: right;
    height: calc(100% - 65px - 2em);
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 120, 120);
    box-shadow: inset 5px 5px 50px black;
}
#links img{
    width: 80%;
    height: auto;
    margin: 3%;
    border: 2px solid black;
    border-radius: 10px;
    transition: all 0.5s;
}
#links img:hover{
    box-shadow: 5px 5px 10px black;
}
#aboutpage .pagetitle{
    background-color: #D1671F;
}